<br></br><br></br><br></br>
<center>
<p>
  <b>Ім'я:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Прізвище:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Емейл:</b>
  <%= @user.email %>
</p>

<p>
  <b>Номер телефону:</b>
  <%= @user.phone %>
</p>

