<div class="container m-5">
<% # user see this when log in %>

<div><%= form_with(url: doctors_doctors_path, method: :get, local: true) do |f| %></div>
    <%= f.select :category_id, @categories.map{ |category| [category.title, category.id] }, {}, { class: "form form-group form-control" } %>
    <%= f.submit "find", class:"btn btn-primary" %>
<% end %>

<%= render "doctors/doctors/doctors" %>
</div>