<h1>show</h1>

<br></br><br></br><br></br>
<center>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Comment:</b>
  <%= @appointment.comment %>
</p>

<p>
  <b>Recommendation:</b>
  <%= @recommendation.recommendation %>
</p>

