<% #doc see this after creating rec %>
<br></br><br></br><br></br>
<center>

<h4>Рекомендація</h4><br><br>

<p>
  <b>Дата візиту:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Коментар до візиту:</b>
  <%= @appointment.comment %>
</p>

<p>
  <b>Рекомендація від лікаря:</b>
  <%= @recommendation.recommendation %>
</p>

