<% #doc see this after creating rec %>
<br></br><br></br><br></br>
<center>

<h1>Recommendation</h1><br><br>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Comment:</b>
  <%= @appointment.comment %>
</p>

<p>
  <b>Recommendation:</b>
  <%= @recommendation.recommendation %>
</p>

